---
http_interactions:
- request:
    method: get
    uri: https://api.twitch.tv/kraken/games/top?headers%5BAccept%5D=application/vnd.twitchtv.v3%2Bjson
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Api-Version:
      - '3'
      Etag:
      - '"e3d351c78c84714c0a6e422e662ed9dc"'
      X-Mh-Cache:
      - appcache2; M
      Front-End-Https:
      - 'on'
    body:
      encoding: ASCII-8BIT
      string: '{"_total":942,"_links":{"self":"https://api.twitch.tv/kraken/games/top?limit=10&offset=0","next":"https://api.twitch.tv/kraken/games/top?limit=10&offset=10"},"top":[{"viewers":113158,"channels":1899,"game":{"name":"League
        of Legends","_id":21779,"giantbomb_id":24024,"box":{"large":"http://static-cdn.jtvnw.net/ttv-boxart/League%20of%20Legends-272x380.jpg","medium":"http://static-cdn.jtvnw.net/ttv-boxart/League%20of%20Legends-136x190.jpg","small":"http://static-cdn.jtvnw.net/ttv-boxart/League%20of%20Legends-52x72.jpg","template":"http://static-cdn.jtvnw.net/ttv-boxart/League%20of%20Legends-{width}x{height}.jpg"},"logo":{"large":"http://static-cdn.jtvnw.net/ttv-logoart/League%20of%20Legends-240x144.jpg","medium":"http://static-cdn.jtvnw.net/ttv-logoart/League%20of%20Legends-120x72.jpg","small":"http://static-cdn.jtvnw.net/ttv-logoart/League%20of%20Legends-60x36.jpg","template":"http://static-cdn.jtvnw.net/ttv-logoart/League%20of%20Legends-{width}x{height}.jpg"},"_links":{}}},{"viewers":98955,"channels":433,"game":{"name":"Dota
        2","_id":29595,"giantbomb_id":32887,"box":{"large":"http://static-cdn.jtvnw.n[...]
