---
http_interactions:
- request:
    method: get
    uri: https://api.twitch.tv/kraken/streams?game=StarCraft%20II:%20Heart%20of%20the%20Swarm&headers%5BAccept-Encoding%5D=gzip,deflate&headers%5BAccept%5D=application/vnd.twitchtv.v3%2Bjson
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Api-Version:
      - '3'
      Etag:
      - '"5aa29246a5b592a3498059eabaf578d3"'
      Front-End-Https:
      - 'on'
    body:
      encoding: UTF-8
      string: '{"streams":[{"_id":13609951040,"game":"StarCraft II: Heart of the Swarm","viewers":1236,"created_at":"2015-03-17T01:07:54Z","video_height":720,"average_fps":29.8634302481,"_links":{"self":"http://api.twitch.tv/kraken/streams/zombiegrub"},"preview":{"small":"http://static-cdn.jtvnw.net/previews-ttv/live_user_zombiegrub-80x45.jpg","medium":"http://static-cdn.jtvnw.net/previews-ttv/live_user_zombiegrub-320x180.jpg","large":"http://static-cdn.jtvnw.net/previews-ttv/live_user_zombiegrub-640x360.jpg","template":"http://static-cdn.jtvnw.net/previews-ttv/live_user_zombiegrub-{width}x{height}.jpg"},"channel":{"_links":{"self":"https://api.twitch.tv/kraken/channels/zombiegrub","follows":"https://api.twitch.tv/kraken/channels/zombiegrub/follows","commercial":"https://api.twitch.tv/kraken/channels/zombiegrub/commercial","stream_key":"https://api.twitch.tv/kraken/channels/zombiegrub/stream_key","chat":"https://api.twitch.tv/kraken/chat/zombiegrub","features":"https://api.twitch.tv/kraken/channels/zombiegrub/features","subscriptions":"https://api.twitch.tv/kraken/channels/zombiegrub/subscriptions","editors":"https://api.twitch.tv/kraken/channels/zombiegrub/editors","videos":"https://api.twitch.tv/kraken/channels/zombiegrub/videos","teams":"https://api.twitch.tv/kraken/channels/zombiegrub/teams"},"background":null,"banner":"http://static-cdn.jtvnw.net/jtv_user_pictures/zombiegrub-channel_header_image-966996e105fd50b5-640x125.jpeg","broadcaster_language":"en","display_name":"ZombieGrub","game":"StarCraft
        II: Heart of the Swarm","logo":"http://static-cdn.jtvnw.net/jtv_user_pictures/zombiegrub-profile_image-8ab1f41dfc324ad8-300x300.png","mature":null,"status":"Diamond
        Random w/ Commentary","partner":true,"url":"http://www.twitch.tv/zombiegrub","video_banner":"http://static-cdn.jtvnw.net/jtv_user_pictures/zombiegrub-channel_offline_image-f4b9c7205f355ee8-640x360.jpeg","_id":21887269,"name":"zombiegrub","created_at":"2011-04-20T20:22:07Z","updated_at":"2015-03-17T04:19:48Z","delay":0,"followers":4841,"profile_banner":"http://static-cdn.jtvnw.net/jtv_user_pictures/zombiegrub-profile_banner-7e1d0a5af9439ca0-480.jpeg","profile_banner_background_color":"null","views":181323,"language":"en"}},{"_id":13608720096,"game":"StarCraft
        II: Heart of the Swarm","viewers":690,"created_at":"2015-03-16T23:22:04Z","video_height":1080,"average_fps":47.9807655318,"_links":{"self":"https://api.twitch.tv/kraken/streams/rootcatz"},"preview":{"small":"http://static-cdn.jtvnw.net/previews-ttv/live_user_rootcatz-80x45.jpg","medium":"http://static-cdn.jtvnw.net/previews-ttv/live_user_rootcatz-320x180.jpg","large":"http://static-cdn.jtvnw.net/previews-ttv/live_user_rootcatz-640x360.jpg","tem[...]
