---
http_interactions:
- request:
    method: get
    uri: https://api.twitch.tv/kraken/streams?game=StarCraft%20II:%20Heart%20of%20the%20Swarm&headers%5BAccept-Encoding%5D=gzip,deflate&headers%5BAccept%5D=application/vnd.twitchtv.v3%2Bjson
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Api-Version:
      - '3'
      Etag:
      - '"dbe5a4f38fd8af849ead1123a128963f"'
      X-Mh-Cache:
      - rails-varnish-6ba9d4; M
      Front-End-Https:
      - 'on'
    body:
      encoding: UTF-8
      string: '{"streams":[{"_id":13640374656,"game":"StarCraft II: Heart of the Swarm","viewers":1000,"created_at":"2015-03-19T12:44:19Z","video_height":1080,"average_fps":29.9362745098,"_links":{"self":"http://api.twitch.tv/kraken/streams/startalebomber"},"preview":{"small":"http://static-cdn.jtvnw.net/previews-ttv/live_user_startalebomber-80x45.jpg","medium":"http://static-cdn.jtvnw.net/previews-ttv/live_user_startalebomber-320x180.jpg","large":"http://static-cdn.jtvnw.net/previews-ttv/live_user_startalebomber-640x360.jpg","template":"http://static-cdn.jtvnw.net/previews-ttv/live_user_startalebomber-{width}x{height}.jpg"},"channel":{"_links":{"self":"https://api.twitch.tv/kraken/channels/startalebomber","follows":"https://api.twitch.tv/kraken/channels/startalebomber/follows","commercial":"https://api.twitch.tv/kraken/channels/startalebomber/commercial","stream_key":"https://api.twitch.tv/kraken/channels/startalebomber/stream_key","chat":"https://api.twitch.tv/kraken/chat/startalebomber","features":"https://api.twitch.tv/kraken/channels/startalebomber/features","subscriptions":"https://api.twitch.tv/kraken/channels/startalebomber/subscriptions","editors":"https://api.twitch.tv/kraken/channels/startalebomber/editors","videos":"https://api.twitch.tv/kraken/channels/startalebomber/videos","teams":"https://api.twitch.tv/kraken/channels/startalebomber/teams"},"background":null,"banner":null,"broadcaster_language":"en","display_name":"Startalebomber","game":"StarCraft
        II: Heart of the Swarm","logo":"http://static-cdn.jtvnw.net/jtv_user_pictures/startalebomber-profile_image-06e810f3d4b2304d-300x300.jpeg","mature":false,"status":"Bomber
        ladder streaming KR server ","partner":true,"url":"http://www.twitch.tv/startalebomber","video_banner":null,"_id":40375470,"name":"startalebomber","created_at":"2013-02-16T13:12:00Z","updated_at":"2015-03-19T13:16:31Z","delay":0,"followers":10151,"profile_banner":null,"profile_banner_background_color":null,"views":925919,"language":"ko"}},{"_id":13639833440,"game":"StarCraft
        II: Heart of the Swarm","viewers":518,"created_at":"2015-03-19T11:09:18Z","video_height":1080,"average_fps":29.9444669639,"_links":{"self":"http://api.twitch.tv/kraken/streams/ogamingsc2"},"preview":{"small":"http://static-cdn.jtvnw.net/previews-ttv/live_user_ogamingsc2-80x45.jpg","medium":"http://static-cdn.jtvnw.net/previews-ttv/live_user_ogamingsc2-320x180.jpg","large":"http://static-cdn.jtvnw.net/previews-ttv/live_user_ogamingsc2-640x360.jp[...]
- request:
    method: get
    uri: https://api.twitch.tv/kraken/streams?game=StarCraft%20II:%20Heart%20of%20the%20Swarm&headers%5BAccept-Encoding%5D=gzip,deflate&headers%5BAccept%5D=application/vnd.twitchtv.v3%2Bjson&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Api-Version:
      - '3'
      Etag:
[...]
[...]
