---
http_interactions:
- request:
    method: get
    uri: https://api.twitch.tv/kraken/games/top?offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Api-Version:
      - '3'
      Etag:
      - '"d6c8f40d55b29b2d46396fdac754759b"'
      Front-End-Https:
      - 'on'
    body:
      encoding: ASCII-8BIT
      string: '{"_total":896,"_links":{"self":"https://api.twitch.tv/kraken/games/top?limit=10&offset=0","next":"https://api.twitch.tv/kraken/games/top?limit=10&offset=10"},"top":[{"viewers":86769,"channels":1503,"game":{"name":"League
        of Legends","_id":21779,"giantbomb_id":24024,"box":{"large":"http://static-cdn.jtvnw.net/ttv-boxart/League%20of%20Legends-272x380.jpg","medium":"http://static-cdn.jtvnw.net/ttv-boxart/League%20of%20Legends-136x190.jpg","small":"http://static-cdn.jtvnw.net/ttv-boxart/League%20of%20Legends-52x72.jpg","template":"http://static-cdn.jtvnw.net/ttv-boxart/League%20of%20Legends-{width}x{height}.jpg"},"logo":{"large":"http://static-cdn.jtvnw.net/ttv-logoart/League%20of%20Legends-240x144.jpg","medium":"http://static-cdn.jtvnw.net/ttv-logoart/League%20of%20Legends-120x72.jpg","small":"http://static-cdn.jtvnw.net/ttv-logoart/League%20of%20Legends-60x36.jpg","template":"http://static-cdn.jtvnw.net/ttv-logoart/League%20of%20Legends-{width}x{height}.jpg"},"_links":{}}},{"viewers":37709,"channels":458,"game":{"name":"Counter-Strike:
        Global Offensive","_id":32399,"giantbomb_id":36113,"box":{"large":[...]
