---
http_interactions:
- request:
    method: get
    uri: https://api.twitch.tv/kraken/streams?game=StarCraft%20II:%20Heart%20of%20the%20Swarm&headers%5BAccept%5D=application/vnd.twitchtv.v3%2Bjson
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Api-Version:
      - '3'
      Etag:
      - '"6764ae48ca5779ac2fa17c642b2c691b"'
      X-Mh-Cache:
      - appcache1; M
      Front-End-Https:
      - 'on'
    body:
      encoding: ASCII-8BIT
      string: '{"streams":[{"_id":13318639856,"game":"StarCraft II: Heart of the Swarm","viewers":14488,"created_at":"2015-02-25T10:46:32Z","video_height":1080,"average_fps":24.9764969068,"_links":{"self":"https://api.twitch.tv/kraken/streams/rocketbeanstv"},"preview":{"small":"http://static-cdn.jtvnw.net/previews-ttv/live_user_rocketbeanstv-80x45.jpg","medium":"http://static-cdn.jtvnw.net/previews-ttv/live_user_rocketbeanstv-320x180.jpg","large":"http://static-cdn.jtvnw.net/previews-ttv/live_user_rocketbeanstv-640x360.jpg","template":"http://static-cdn.jtvnw.net/previews-ttv/live_user_rocketbeanstv-{width}x{height}.jpg"},"channel":{"_links":{"self":"http://api.twitch.tv/kraken/channels/rocketbeanstv","follows":"http://api.twitch.tv/kraken/channels/rocketbeanstv/follows","commercial":"http://api.twitch.tv/kraken/channels/rocketbeanstv/commercial","stream_key":"http://api.twitch.tv/kraken/channels/rocketbeanstv/stream_key","chat":"http://api.twitch.tv/kraken/chat/rocketbeanstv","features":"http://api.twitch.tv/kraken/channels/rocketbeanstv/features","subscriptions":"http://api.twitch.tv/kraken/channels/rocketbeanstv/subscriptions","editors":"http://api.twitch.tv/kraken/channels/rocketbeanstv/editors","videos":"http://api.twitch.tv/kraken/channels/rocketbeanstv/videos","teams":"http://api.twitch.tv/kraken/channels/rocketbeanstv/teams"},"background":null,"banner":null,"broadcaster_language":"de","display_name":"RocketBeansTV","game":"StarCraft
        II: Heart of the Swarm","logo":"http://static-cdn.jtvnw.net/jtv_user_pictures/rocketbeanstv-profile_image-389ff6f2d5ae9804-300x300.jpeg","mature":false,"status":"Community
        Beef - SC2 mit Simon","partner":true,"url":"http://www.twitch.tv/rocketbeanstv","video_banner":"http://static-cdn.jtvnw.net/jtv_user_pictures/rocketbeanstv-channel_offline_image-44533f67b9fabfd7-640x360.jpeg","_id":47627824,"name":"rocketbeanstv","created_at":"2013-08-15T15:38:03Z","updated_at":"2015-03-16T19:19:16Z","delay":0,"followers":137910,"profile_banner":"http://static-cdn.jtvnw.net/jtv_user_pictures/rocketbeanstv-profile_banner-5b6f4a991082fa42-480.jpeg","profile_banner_background_color":"#0f70b6","views":12086755,"language":"de"}},{"_id":13603696464,"game":"StarCraft
        II: Heart of the Swarm","viewers":2641,"created_at":"2015-03-16T14:50:07Z","video_height":1080,"average_fps":29.9255813953,"_links":{"self":"https://api.twitch.tv/kraken/streams/naniwasc2"},"preview":{"small":"http://static-cdn.jtvnw.net/previews-ttv/live_user_naniwasc2-80x45.jpg","medium":"http://static-cdn.jtvnw.net/previews-ttv/live_user_naniwasc2-320x180.jpg","large":"http://static-cdn.jtvnw.net/previews-ttv/live_user_naniwasc2-640x360.jpg"[...]
