---
http_interactions:
- request:
    method: get
    uri: https://api.twitch.tv/kraken/games/top?headers%5BAccept%5D=application/vnd.twitchtv.v3%2Bjson&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Api-Version:
      - '3'
      Etag:
      - '"f243abdb9221bd4f6b3e0f2b9c70f57d"'
      Front-End-Https:
      - 'on'
    body:
      encoding: ASCII-8BIT
      string: '{"_total":942,"_links":{"self":"https://api.twitch.tv/kraken/games/top?limit=10&offset=0","next":"https://api.twitch.tv/kraken/games/top?limit=10&offset=10"},"top":[{"viewers":95314,"channels":1571,"game":{"name":"League
        of Legends","_id":21779,"giantbomb_id":24024,"box":{"large":"http://static-cdn.jtvnw.net/ttv-boxart/League%20of%20Legends-272x380.jpg","medium":"http://static-cdn.jtvnw.net/ttv-boxart/League%20of%20Legends-136x190.jpg","small":"http://static-cdn.jtvnw.net/ttv-boxart/League%20of%20Legends-52x72.jpg","template":"http://static-cdn.jtvnw.net/ttv-boxart/League%20of%20Legends-{width}x{height}.jpg"},"logo":{"large":"http://static-cdn.jtvnw.net/ttv-logoart/League%20of%20Legends-240x144.jpg","medium":"http://static-cdn.jtvnw.net/ttv-logoart/League%20of%20Legends-120x72.jpg","small":"http://static-cdn.jtvnw.net/ttv-logoart/League%20of%20Legends-60x36.jpg","template":"http://static-cdn.jtvnw.net/ttv-logoart/League%20of%20Legends-{width}x{height}.jpg"},"_links":{}}},{"viewers":48836,"channels":532,"game":{"name":"Counter-Strike:
        Global Offensive","_id":32399,"giantbomb_id":36113,"box":{"large":[...]
- request:
    method: get
    uri: https://api.twitch.tv/kraken/games/top?headers%5BAccept%5D=application/vnd.twitchtv.v3%2Bjson&offset=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Api-Version:
      - '3'
      Etag:
      - '"cece9369c45d5731693b5cae14e1a002"'
      X-Mh-Cache:
      - appcache1; M
      Front-End-Https:
      - 'on'
    body:
      encoding: ASCII-8BIT
      string: '{"_total":938,"_links":{"self":"https://api.twitch.tv/kraken/games/top?limit=10&offset=5","next":"https://api.twitch.tv/kraken/games/top?limit=10&offset=15","prev":"https://api.twitch.tv/kraken/games/top?limit=10&offset=0"},"top":[{"viewers":12029,"channels":351,"game":{"name":"Minecraft","_id":27471,"giantbomb_id":30475,"box":{"large":"http://static-cdn.jtvnw.net/ttv-boxart/Minecraft-272x380.jpg","medium":"http://static-cdn.jtvnw.net/ttv-boxart/Minecraft-136x190.jpg","small":"http://static-cdn.jtvnw.net/ttv-boxart/Minecraft-52x72.jpg","template":"http://static-cdn.jtvnw.net/ttv-boxart/Minecraft-{width}x{height}.jpg"},"logo":{"large":"http://static-cdn.jtv[...]
[...]
